<main>
    <header>
        <h1>Amigo oculto de natal</h1>
    </header>

    <section class="form-input-user">
        <div class="forms">
            <label for="">Nome do participante</label>
            <form action="">
                <mat-form-field class="example-full-width">
                    <input matInput type="text">
                </mat-form-field>

                <div class="button-container">
                    <button mat-fab extended>
                      Adicionar
                    </button>
                  </div>
            </form>
        </div>
    </section>
</main>
